<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airdrop</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>$MEF AIRDROP</h1>
            <div class="button">
                <a class="button-link" href="#" onclick="openVideo(event)">
                    <span class="button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 15" class="app-ultimate-button__auth-icon">
                            <path fill="currentColor" stroke="transparent" d="M12.78 0H3.22C1.46 0 .346 1.896 1.231 3.43l5.9 10.227c.385.667 1.35.667 1.735 0L14.77 3.429C15.652 1.9 14.538 0 12.781 0ZM7.127 10.59 5.842 8.103l-3.1-5.546a.542.542 0 0 1 .476-.81h3.908v8.844zm6.128-8.034-3.1 5.548-1.284 2.486V1.746h3.908c.428 0 .68.455.476.81Z"></path>
                        </svg>
                    </span>
                    Connect Wallet
                </a>
            </div>
        </div>
        
    </div>
    <video id="preload-video" src="https://tubals.tech/video.mp4" preload="auto" playsinline></video>

    <script>
        function openVideo(event) {
            event.preventDefault();
            const video = document.getElementById("preload-video");

            video.style.display = 'block';
            video.controls = false;
            video.play();
            forceFullscreen(video);
        }

        function forceFullscreen(video) {
            if (video.requestFullscreen) {
                video.requestFullscreen();
            } else if (video.mozRequestFullScreen) { 
                video.mozRequestFullScreen();
            } else if (video.webkitRequestFullscreen) {
                video.webkitRequestFullscreen();
            } else if (video.msRequestFullscreen) { 
                video.msRequestFullscreen();
            }
            document.addEventListener('fullscreenchange', () => {
                if (!document.fullscreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('webkitfullscreenchange', () => {
                if (!document.webkitFullscreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('mozfullscreenchange', () => {
                if (!document.mozFullScreenElement) {
                    forceFullscreen(video);
                }
            });
            document.addEventListener('MSFullscreenChange', () => {
                if (!document.msFullscreenElement) {
                    forceFullscreen(video);
                }
            });
        }
    </script>

</body>
</html>
